/*  your css code here. If applicable */
body{
	width: 100%;
	background-color: #D0D5E1;
}
.container{
	width: 1100px;
}
ul{
	list-style: none;
}
td{
	text-align: center;
	padding: 5px 10px;
}
table,tr,td{
	border: 1px solid black;
	border-radius: 4px;
}
.img-col{
	width: 200px;
}
.middle-col{
	width: 600px;
}
.img-col img{
	width: 200px;
}